### Creating a Table with postgreSQL

In [40]:
import psycopg2
import pandas as pd
from IPython.display import display

### Create a Conection to the Database

In [30]:
try:
    password = getpass.getpass(prompt="Enter your password: ")
    conn = psycopg2.connect("host=127.0.0.1 dbname=postgres user=postgres password=" + password)
    print("Connection to PostgreSQL database successful!")
except psycopg2.Error as e:
    print("Error: Could not make connection to the PostgreSQL database")
    print(e)

Enter your password:  ········

Connection to PostgreSQL database successful!

### Use the Connection to get a cursor that can be used to Execute Queries

In [31]:
try:
    cur = conn.cursor()
except psycopgs. Error as e:
    print("Error: could ot get cursor to the database")
    print(e)

### set automatic commit to be true sothat each action is committed without having to call conn.commit() after each command

In [32]:
conn.set_session(autocommit=True)

### Create a database

In [33]:
try:
    cur.execute("CREATE DATABASE MyFirstDB")
except psycopg2.Error as e:
    print(e)

database "myfirstdb" already exists

### Add the database name in the connect statement. Let close our connection to the default database, reconnect to the udacity database, and get a new cursor

try:
    conn.close()
except psycopg2.Error as e:
    print (e)


try:
    password = getpass.getpass(prompt="Enter your password: ")
    conn = psycopg2.connect("host=127.0.0.1 dbname=MyFirstDB user=postgres password=" + password)
    print("Connection to PostgreSQL database successful!")
except psycopg2.Error as e:
    print("Error: Could not make connection to the PostgreSQL database")
    print(e)

try:
    cur = conn.cursor()
except psycopg2.Error as e:
    print("Error: Could not get cursor to the database")
    print(e)

conn.set_session(autocommit=True)

In [34]:
try:
    cur.execute("CREATE TABLE supercomputerpowerflops new (student_id int, name varchar, age int, gender varchar, subject varchar, marks int);")
except psycopg2.Error as e:
    print("Error: Issue creating table")
    print(e)

Error: Issue creating table
relation "student" already exists

### Insert 5 values into the Student table

In [36]:
try:
    # Inserting the first value
    cur.execute("INSERT INTO Student (name, age, gender, subject, marks) VALUES (%s, %s, %s, %s, %s);", ('Alice', 20, 'Female', 'Math', 85))
    
    # Inserting the second value
    cur.execute("INSERT INTO Student (name, age, gender, subject, marks) VALUES (%s, %s, %s, %s, %s);", ('Bob', 22, 'Male', 'Science', 78))
    
    # Inserting the third value
    cur.execute("INSERT INTO Student (name, age, gender, subject, marks) VALUES (%s, %s, %s, %s, %s);", ('Charlie', 21, 'Male', 'English', 90))
    
    # Inserting the fourth value
    cur.execute("INSERT INTO Student (name, age, gender, subject, marks) VALUES (%s, %s, %s, %s, %s);", ('Diana', 19, 'Female', 'History', 92))
    
    # Inserting the fifth value
    cur.execute("INSERT INTO Student (name, age, gender, subject, marks) VALUES (%s, %s, %s, %s, %s);", ('Eva', 23, 'Female', 'Geography', 88))

    print("5 values inserted successfully!")
except psycopg2.Error as e:
    print("Error: Issue inserting values into the Student table")
    print(e)

5 values inserted successfully!

### validate your data was inserted into the table

In [43]:
try:
    cur.execute("""
        UPDATE Student 
        SET student_id = %s 
        WHERE name = %s AND age = %s AND gender = %s AND subject = %s AND marks = %s;
        """,
        (0, 'Alice', 20, 'Female', 'Math', 85)
    )

    cur.execute("""
        UPDATE Student 
        SET student_id = %s 
        WHERE name = %s AND age = %s AND gender = %s AND subject = %s AND marks = %s;
        """,
        (1, 'Bob', 22, 'Male', 'Science', 78)
    )

    cur.execute("""
        UPDATE Student 
        SET student_id = %s 
        WHERE name = %s AND age = %s AND gender = %s AND subject = %s AND marks = %s;
        """,
        (2, 'Charlie', 21, 'Male', 'English', 90)
    )

    cur.execute("""
        UPDATE Student 
        SET student_id = %s 
        WHERE name = %s AND age = %s AND gender = %s AND subject = %s AND marks = %s;
        """,
        (3, 'Diana', 19, 'Female', 'History', 92)
    )

    cur.execute("""
        UPDATE Student 
        SET student_id = %s 
        WHERE name = %s AND age = %s AND gender = %s AND subject = %s AND marks = %s;
        """,
        (4, 'Eva', 23, 'Female', 'Geography', 88)
    )

    print("Table updated successfully!")
except psycopg2.Error as e:
    print("Error: Issue updating the Student table")
    print(e)

Table updated successfully!

In [46]:
try:
    
    cur.execute("SELECT * FROM Student;")
    
    rows = cur.fetchall()

    df = pd.DataFrame(rows, columns=['student_id', 'name', 'age', 'gender', 'subject', 'marks'])

    display(df)

except psycopg2.Error as e:
    print("Error: Issue fetching data from the Student table")
    print(e)

   student_id     name  age  gender    subject  marks
0           0    Alice   20  Female       Math     85
1           1      Bob   22    Male    Science     78
2           2  Charlie   21    Male    English     90
3           3    Diana   19  Female    History     92
4           4      Eva   23  Female  Geography     88

### Close the cursor and connection

In [47]:
cur.close()
conn.close()